*{
  margin:0
}
.app{
  background-color: #fafafa;
  height: 100vh;
}
.app__headerImage{
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding:0px;
  object-fit: contain;
  
}

.app__signup{
  display:flex;
  flex-direction: column;
  text-align: center;
}
